#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.center-spin {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
}

.ant-layout-content {
  background: #f0f2f5 !important;
}

a {
  color: #1890ff;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (max-width: 600px) {
  .ant-card-meta-title {
    font-size: 1rem !important;
  }
  .ant-card {
    padding: 0.5rem;
  }
  .ant-layout-content {
    padding: 8px !important;
  }
  .center-spin {
    min-height: 30vh;
  }
}

@media (max-width: 480px) {
  .ant-modal {
    width: 98vw !important;
    margin: 0 !important;
    padding: 0 !important;
  }
  .ant-modal-body {
    padding: 4px !important;
  }
}


@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
